@import "../font";
@import "../color";
@import "../mixin";
@import "../base";

.bgcolor1-3{
    padding: 13px 18px; 
}
.bgcolor2-4{
    padding: 13px 18px; 
}
.topheader{
    @include top-header-colum($justify_content:space-between,$align_item:center);
    width: 100%;
    .header{
        a{
            font-size: 13px;
            padding: 10px 10px; 
        }
    }
    .search{
        display: none;
    }
}

.content{
    width: 100%;
    height: 100%;
    @include content-flex-mobile();
    .content-text{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        color: $color_white;
        @include top-header-colum($justify_content:flex-start,$align_item:flex-start);
        font-family:$font_family_m;
        h1{
            font-size: 22px;
        }
        h3{
            font-size: 17px;
        }
        p{
            font-size: 13px;
        }
        .btn-ft{
            width: 75px;
            height: 35px;
            font-size: 16.5px;
        } 
    }
    .axkhalse{
        width: 250px;
        height: 250px;
    }
}

.my-services{
    align-items: center;
    .my-services-text{
        h1{
            font-size: 20px;
        }
    }
}

.div-album{
    width: 100%;
    @include album_cover_music_mobile();
    margin-bottom: 18px;
    .bg-album1{
        padding: 15px 15px;
    }
    .album{
    width: 170px;
    height: 170px;
    }
    h2{
        font-size: 15px;
        font-family: $font_family_v;
    }
}
.my-best{
    margin-bottom: 20px;
    .my-best-text{
        h1{
            font-size: 20px;
        }
    } 
    .my-best-music{
        width: 100%;
        p{
            padding: 5px;
            font-size: 14px;
            font-family: $font_family_m;
            text-align: justify;
        }
        .my-best-text{
            h1{
                font-size: 20px;
            }
        }
    }
    .my-best-music-cover-h2{
        h2{
            font-size: 20px;
            margin: 0px;
            padding: 0px;
        }
    }
}

.body-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    .container-grid{
        .grid_txt{
            color: $color_white;
            text-align: center;
            margin-top: 15px;
            font-family: $font_family_v;
            font-size: 17px;
            }
        .grid{
        border-radius: 20px;
        background: $color_div_bg_1_3;
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: 1fr;
        gap: 20px;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        .item-1{
            grid-column: 1 / span 1;
                @include width_height();
            .img-grid-1{
                @include img_grid_tablet();
            }
        }
        .item-2{
                @include width_height();
            .img-grid-2{     
                @include img_grid_tablet();
            }
        }
        .item-3{
                @include width_height();
            .img-grid-3{
                @include img_grid_tablet();
            }
        }
        .item-4{
                @include width_height();
            .img-grid-4{
                @include img_grid_tablet();
            }
        }
        .item-5{
            grid-column: 1;
            grid-row: 1 / span 2;
                @include width_height();
            .img-grid-5{
                @include img_grid_tablet();
            }
        }
        .item-6{
                @include width_height();
            .img-grid-6{
                @include img_grid_tablet();
            }
        }
        .item-7{
            @include width_height();
            .img-grid-7{
                @include img_grid_tablet();
            }
        }
    }
}
}


.Caver{
    width: 100%;
    @include top-header-colum($justify_content:space-between,$align_item:center);
    text-align: center;
    color: $color_white;
    font-family: $font_family_m;
    margin-bottom: 18px;
    .bg-album2{
        padding: 15px 15px;
    }
    .album{
        width: 170px;
        height: 170px;
        }
    h2{
        font-size: 15px;
        font-family: $font_family_v;
    }
}
.bg-album1{
    margin-bottom: 0px;
}
.bg-album2{
    margin-bottom: 0px;
}

.api{
    .txt_api{
        font-size: 10px;
    }
    .getImagesButton{
        width: 240px;
        height: 50px;
        font-size: 20px;
        &:hover{
        font-size: 20.5px;
        }
    }  
    .imageDisplayWrapper{
        .imageToDisplaystyle{
            width: 300px;
            height: 400px;
            border-radius: 40px;
            margin-top: 10px;
            margin-bottom: 20px;
            background: $color_div_bg_1_3;
        }
    }
} 

.footer-biography{
    margin-bottom: 25px;
    .biography-div-p{
        @include content-flex-mobile();
        gap: 30px;
    }
    .biography-p{
        font-size: 22px;
    }
    .biography-div-p .p{
        font-size: 12px;
    }
}