$color_white: white;
$color_blue: #85c1e9;
$color_div_bg_1_3: rgb(14, 35, 56);
$color_div_bg_2_4: rgb(27, 52, 77);
$color_gray: #b3b6b7;
$color_perple_login: #333d84;
$color_btn_pink: #c39bd3;
$color_gray_login: #283747;
$color_btn_gray: #95a5a6;
$color_blue_login: #2874a6;
$color_btn_blue: #85c1e9;
$color_green_login: #0e6655;
$color_btn_green: #73c6b6;
